<div class="row mt-5">
  <div class="col-md-12 m-auto">
    <div class="card card-body text-center">
      <h1>Add a new Todo</h1>
      <form action="/todos/new" method="POST">
        <div class="form-group">
          <input
            type="title"
            id="title"
            name="title"
            class="form-control"
            placeholder="Enter Title of Todo"
            value="<%= typeof title != 'undefined' ? title : '' %>"
          />
        </div>
        <div class="form-group">
          <input
            type="description"
            id="description"
            name="description"
            class="form-control"
            placeholder="Enter Description"
            value="<%= typeof description != 'undefined' ? description : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary float-left">Submit</button>
      </form>
      <p class="lead mt-2">Go to Todo Dashboard <a href="/todos">Todo</a></p>
    </div>
  </div>
</div>
