<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div class="container" id="app">
      <div class="row mt-5">
        <div class="col-md-12 m-auto">
          <div class="card">
            <div class="card-header">Your Routine</div>
            <div class="card-body text-center">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Day</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Time From</th>
                    <th scope="col">Time To</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(routine, index) in routines">
                    <th scope="row">{{index+1}}</th>
                    <template v-if="index === 0">
                      <td :rowspan="routines.length">{{routine.day}}</td>
                    </template>
                    <td>{{routine.topic}}</td>
                    <td>{{routine.time_from}}</td>
                    <td>{{routine.time_to}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  const { createApp } = Vue;

  createApp({
    data() {
      return {
        routines: [],
      };
    },
    mounted() {
      this.getRoutines();
    },
    methods: {
      async getRoutines() {
        try {
          const response = await fetch(`/routines`);
          this.routines = await response.json();
        } catch (e) {
          console.error(e);
        }
      },
    },
  }).mount("#app");
</script>
